<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="SWE_TourManager.DataAccessLayer.PostgresSqlServer"/>
	</appSettings>

	<connectionStrings>
		<add name="PostgresSqlConnectionString" connectionString="Host=localhost;Username=postgres;Password=Safetyfirst;Database=TourManager"/>
	</connectionStrings>
</configuration>