<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DALSqlAssembly" value="SWE_TourManager.DataAccessLayer.PostgresSqlServer"/>
		<add key="DataUrl" value="http://www.mapquestapi.com/directions/v2/route?key=HpWCNiZeZm5zvY1ASIhSKLoJAms1I3Fx"/>
		<add key="ImgUrl" value="http://www.mapquestapi.com/staticmap/v5/map?key=HpWCNiZeZm5zvY1ASIhSKLoJAms1I3Fx&amp;size=640,480&amp;defaultMarker=none&amp;zoom=7&amp;" />
		<add key="ImgFolderPath" value="C:\Users\Angelo Raffael Thau\Desktop\Projekte\SWE\SWE2\Img"/>
		<add key="ExportFolderPath" value="C:\Users\Angelo Raffael Thau\Desktop\Projekte\SWE\SWE2\Exports"/>
		<add key="PDFFolderPath" value="C:\Users\Angelo Raffael Thau\Desktop\Projekte\SWE\SWE2\PDF"/>
		<add key="UploadsFolderPath" value="C:\Users\Angelo Raffael Thau\Desktop\Projekte\SWE\SWE2\Uploads"/>
	</appSettings>

	<connectionStrings>
		<add name="PostgresSqlConnectionString" connectionString="Host=localhost;Username=postgres;Password=Safetyfirst;Database=TourManager"/>
	</connectionStrings>
</configuration>